@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: gray;
    position: relative;
}
.logo {
    width: 60px;
    cursor: pointer;
}
.verticalcenter {
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-button{
    background-color: rgb(8,221,182);
    color:#fff;
    display: inline;
    padding: 10px;
    position: absolute;
    top: -5%;
    border-radius: 5px;
    padding-left: 15px;
    padding-right:15px;
    cursor: pointer;
    transition: 0.2s ease ;
}
.nav-button:hover{
    background-color: rgb(10, 117, 98);
    
}
.nav-button:focus{
    background-color: rgb(5, 48, 40)
}

#nav-button-1{
    left: 100px;
}
#nav-button-2{
    left:200px;
}
/* .navbutton {
    background-color: rgb(8,221,182);
    display: inline;
    padding: 10px;
    position: absolute;
    top: -5%;
    left: 100px;
    border-radius: 8px;
}
.navbutton2 {
    background-color: rgb(8,221,182);
    display: inline;
    padding: 10px;
    position: absolute;
    top: -5%;
    left: 200px;
    border-radius: 8px;
} */

.introduction {
    padding: 10%;
    position: relative;
    top: -120px;
}

.introductionContainer {
    background-color: rgb(200,200,200);
}

h1 {
    font-size: 125px;
    background: -webkit-linear-gradient(rgb(8,221,182),rgb(8,108,221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
